<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>write form</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    
    <style type="text/css">
/* <맨위 상단바> */
 .bg-light { 
/*      background-color: rgb(45 96 49) !important;  */
     background-color: #f9a762 !important; 
} 
.text-primary {
    color: rgb(45 96 49) !important;
}
/* ------- */
#slide{
height:600px;
width:100%;


}


#jgimg{
width: 305px;
height: 305px;
}




/* .carousel-control-next{  */
/*     margin-right : 200px;  */
/*  }  */

/*  .carousel-control-prev{  */
/*       margin-left : 200px;  */
/*  }  */


/* --------상단바 */
.bg-success {
     background-color: #F8F8F8 !important; 
/*      background-color: rgb(45 96 49) !important;  */
   height: 73px;
}

.navbar .navbar-nav .nav-link {

    color: rgb(45 96 49);
/*     color:white; */
}

.navbar-nav{
    font-size: 15px;
    margin-left:200px;
    
}

.navbar .navbar-nav .nav-link {
    margin-right: 120px;
    outline: none;
    font-weight: bold;  
}
/* --------------- */
    </style>
</head>

<body>

 <!-- Topbar Start -->
     <div class="container-fluid bg-light px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="small text-secondary" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="small text-secondary" href="#">Career</a></li>
                    <li class="breadcrumb-item"><a class="small text-secondary" href="#">Terms</a></li>
                    <li class="breadcrumb-item"><a class="small text-secondary" href="#">Privacy</a></li>
                </ol>
            </div>
            <div class="col-lg-6 px-5 text-end">
                <small>Follow us:</small>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn-square text-primary border-end rounded-0" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn-square text-primary border-end rounded-0" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn-square text-primary border-end rounded-0" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn-square text-primary pe-0" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div> 
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-success navbar-dark sticky-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="#" class="navbar-brand ms-3 d-lg-none">MENU</a>
        <button type="button" class="navbar-toggler me-3" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

     
        <h1 class="fw-bold text-primary m-0"><img src="img/dglogo.png" style="max-width: 180px; height: auto; margin-left:130px;"></h1> 
            <div class="navbar-nav me-auto p-3 p-lg-0">
                <!-- <a href="index.html" class="nav-item nav-link active">Home</a> -->
                <a href="home" class="nav-item nav-link" >홈</a>
               <a href="about" class="nav-item nav-link" >회사소개</a>
                <a href="board" class="nav-item nav-link">동네생활</a>
                <a href="market" class="nav-item nav-link">중고거래</a>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">내상점</a>
                    <div class="dropdown-menu border-0 rounded-0 rounded-bottom m-0">
                        <a href="m_writeForm" class="dropdown-item">판매하기</a>
                        <a href="myMarket" class="dropdown-item">판매내역</a>
                    </div>
                    </div>
            </div>
            <a href="myPage" class="btn btn-sm btn-light rounded-pill py-2 px-4 d-none d-lg-block"><img src="https://xexymix.jpg3.kr/xexymix/2020/main/menu_mypage.png"></a>

        </div>
    </nav>
    <!-- Navbar End -->



    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
<!--                 <h6 class=" bg-white text-center text-success px-3">내상점</h6> -->
                <h1 class="display-6 mb-4">판매하기</h1>
            </div>
            <div class="row g-0 justify-content-center">
                <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.5s">
                   
                    <form action="m_write" method="post" enctype="multipart/form-data">
                        <div class="row g-3">
                            
                            <div class="col-12">
                                <div class="form-floating">
                                  <input type="text" name="title" size="20" class="form-control" id="subject" placeholder="subject">
                                    
                                    <label for="subject">제목</label>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="form-floating">
                                  <input type="number" name ="price" size="20" class="form-control" id="subject" placeholder="subject">
                                    
                                    <label for="subject">가격</label>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="form-floating">
                                <textarea name ="content" class="form-control" placeholder="Leave a message here" id="message" style="height: 200px"></textarea>
                                    
                                    <label for="message">내용</label>
                                </div>
                                <hr>
                                 <input class="form-control" type = "file" name="file"><br>
                            </div>
                            <div class="col-12 text-center">
                            <input type="submit" class="btn btn-secondary" value="작성완료">
                            </div>
                        </div>
                        
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


  
</body>

</html>





<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!-- <head> -->
<!-- <meta charset="UTF-8"> -->
<!-- <title>Insert title here</title> -->
<!-- </head> -->
<!-- <body> -->

  
<!--    <form action="m_write" method="post" enctype="multipart/form-data"> -->
<!--       <table> -->
<!--          <tr> -->
<!--             <td>제목 : </td> -->
<!--             <td><input type="text" name="title" size="20"></td> -->
<!--          </tr> -->
         
<!--          <tr> -->
<!--          	<td>가격 : </td> -->
<!--          	<td><input type ="number" name ="price" size="20">원</td> -->
<!--          </tr> -->
<!--          <tr> -->
<!--             <td>내용 : </td> -->
<!--             <td><textarea name ="content" rows="20" cols="30"></textarea></td> -->
<!--          </tr> -->
         
<!--          <tr> -->
<!--             <td><input type="submit" value="작성완료"></td> -->
<!--          </tr> -->
         
<!--       </table> -->
      
<!--       <input type = "file" name="file"><br> -->
      
<!--    </form> -->
<!-- </body> -->
<!-- </html> -->