<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
div, form {
		width:500px;
		height:400px;
		margin-top:200px;
		margin-right:auto;
		margin-left:auto;
		text-align:center;
	}

	form{
		border:solid;
		border-color: black;
		background-color: white;
	}
	
	table {
		margin:auto;
	}
	td{
		font-size: large;
	}

</style>
</head>
<body>


<table>

<tr><td><h2>내 상점</h2></td></tr>
<tr>
<td><a href="m_writeForm"><button>판매하기</button></a><br><br></td>
</tr>
<tr>
<td><a href ="myMarket"><button>판매내역</button></a></td>
</tr>
</table>


</body>
</html>